*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #ffffff, #000000);
}
.card{
    height: 400px;
    width: 300px;
    margin: 80px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px, 50px, 55px, -50px #000;
    position: relative;
    overflow: hidden;
    transform: scale(1.3);
}
.card::before{
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0;
    border-radius: 0 0 0 158px;
    box-shadow: 0 5px 3px #ffffff;
    transition: 0.5s;
    background: linear-gradient(120deg, #03001e);
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
    background: linear-gradient(to bottom, #0f9b0f, #000000);
}
.card.card:hover::before{
    height: 100%;
    width: 100%;
}
h1{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 65px;
    color: #000000;
    font-family: sans-serif;
}
.Prp{
    top: 150px;
    position: absolute;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.2s;
}
.Prp:hover, .card:hover{
    color: #fff;
}
a{
    position: absolute;
    text-decoration: none;
    bottom: 50px;
    right: 90px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: -2px 20px 30px -10px #000;
    background: linear-gradient(120deg, #000000);
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);
    background: linear-gradient(to bottom, #0f9b0f, #000000);
}
.card:nth-child(2).card:before{
    background: linear-gradient(120deg, #03001e);
    background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
}
.card:nth-child(3).card:before{
    background: linear-gradient(120deg, #035e33, #15d63f);
}
.card:nth-child(2) a{
    background: linear-gradient(120deg, #03001e);
    background: -webkit-linear-gradient(to bottom, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to bottom, #fdeff9, #ec38bc, #7303c0, #03001e);
    
}
.card:nth-child(3) a{
    background: linear-gradient(120deg, #035e33, #15d63f);
}